@import './base.css';
@import 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.msgbox-area {
  font-size: inherit;
  max-height: 60%;
  position: fixed;
  bottom: 15px;
  left: 20px;
  right: 20px;
  z-index: 201;
}

.msgbox-box {
  font-size: inherit;
  color: #fff;
  background-color: rgba(57, 74, 86, 0.7);
  margin: 0 0 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  transition: opacity 256ms ease-in;
  z-index: 201;
}

.msgbox-box.error {
  background-color: var(--color-error-1);
}

.msgbox-box.msgbox-box-hide {
  opacity: 0;
}

.msgbox-box:last-child {
  margin: 0;
}

.msgbox-content {
  font-size: inherit;
  padding: 15px 15px 15px 15px;
  flex-shrink: 1;
}

.msgbox-command {
  padding: 0 15px 15px 15px;
  display: flex;
}

.msgbox-close {
  color: #fff;
  font-size: inherit;
  text-decoration: none;
  margin: 0 10px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  transition: color 64ms ease-out, text-shadow 64ms ease-out;
}

.msgbox-close:hover {
  cursor: pointer;
  color: #efefef;
  text-shadow: 0 0 4px #fff;
}

.msgbox-close:first-child {
  margin-left: auto;
}

.msgbox-close:last-child {
  margin-right: 0;
}

@media (min-width: 301px) and (max-width: 400px) {
  .msgbox-area {
    left: 80px;
    right: 80px;
  }
}

@media (min-width: 301px) {
  .msgbox-area {
    width: 300px;
    height: 0;
    top: 15px;
    left: auto;
    right: 15px;
  }
}

.msgbox-area {
  font-size: 16px;
}

.msgbox-message-container {
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.msgbox-message-container h1,
.msgbox-message-container h3 {
  font-weight: normal;
  padding: 0.5rem 1rem;
  margin: 0;
}

.msgbox-message-container h1:first-child,
.msgbox-message-container h3:first-child {
  padding-top: 0;
}

.msgbox-message-container h1:last-child,
.msgbox-message-container h3:last-child {
  padding-bottom: 0;
}

.msgbox-message-container p {
  padding: 0.5rem 1rem;
  margin: 0;
}

.msgbox-message-container p:first-child {
  padding-top: 0;
}

.msgbox-message-container p:last-child {
  padding-bottom: 0;
}

.msgbox-message-button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background-color: #387cdc;
  width: 250px;
  border: solid 2px #2263bf;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0.4rem #2263bf;
  transition: background-color 64ms ease-out, box-shadow 64ms ease-out, transform 64ms ease-out;
}

.msgbox-message-button:hover,
.msgbox-message-button:focus,
.msgbox-message-button:active {
  background-color: #4e8ae0;
}

.msgbox-message-button:active {
  background-color: #256ed5;
  box-shadow: 0 0 #2263bf;
  transform: translateY(0.4rem);
}

.switch {
  --secondary-container: #3a4b39;
  --primary: #84da89;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313033;
  transition: .2s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #aeaaae;
  transition: .4s;
}

input:checked+.slider::before {
  background-color: var(--primary);
}

input:checked+.slider {
  background-color: var(--secondary-container);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--secondary-container);
}

input:checked+.slider:before {
  transform: translateX(1.9em);
}

::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #929698;
  min-height: 35px;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5d6162;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}